@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
$markdown-text-color: #e2e8f0;
.markdown {
  font-family: "Merriweather", serif;
  height: 93.45vh;
  width: 100%;
  background-color: transparent;
  color: $markdown-text-color;
  textarea {
    padding: 2rem;
  }
}
